/* 设置整体背景颜色为灰色 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;  /* 灰色背景 */
}

/* 页头背景颜色 */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* 密码输入框部分样式 */
#passwordSection {
    text-align: center;
    margin-top: 50px;
}

/* 内容区域背景为白色 */
#content {
    display: none;
    background-color: #fff;  /* 白色背景 */
    padding: 20px;
    margin: 10px auto;
    max-width: 800px; /* 设置最大宽度 */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 主内容区域的标题样式 */
h1, h2, h3 {
    color: white;
}

/* 题目列表样式 */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

/* 提交说明的样式 */
ol {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ol li {
    margin-bottom: 10px;
}

/* 页脚样式 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
